.cards {
  position: relative;
  justify-content: center;
}
.cards img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  filter: brightness(70%);
  object-fit: cover;
}
.cards h2 {
  width: 52%;
  color: var(--color-white);
  position: absolute;
  bottom: 15px;
  left: 17px;
  margin: 0;
  font-size: 18px;
}
