.carrousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 64px;
  color: var(--color-white);
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.picture {
  margin: 0 auto;
}

.infoIndex {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
