.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-red);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--color-white);
  margin-bottom: 25px;
}

.collapse h1 {
  font-size: 13px;
  font-weight: 500;
}
.collapse-content {
  color: var(--color-red);
  font-size: 12px;
  padding: 10px;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .collapse {
    margin-bottom: 50px;
  }
  .collapse h1 {
    font-size: 18px;
  }
  .collapse-content {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  .collapse {
    margin-bottom: 30px;
  }
  .collapse h1 {
    font-size: 18px;
  }
  .collapse-content {
    font-size: 18px;
  }
}
