.tags {
  display: flex;
  list-style: none;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  border: none;
  border-radius: 10px;
  width: 27%;
  background-color: #ff6060;
  color: white;
  font-size: 10px;

  padding: 7px 3px;
}
@media only screen and (min-width: 769px) and (max-width: 1279px) {
  span {
    font-size: 14px;
    padding: 10px 5px;
  }
  .tags {
    flex-wrap: initial;
  }
}
@media only screen and (min-width: 1280px) {
  span {
    font-size: 14px;
    padding: 10px 5px;
  }
  .tags {
    flex-wrap: initial;
  }
}
